@use "mixin" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 30;
  padding: 17px 0;
  border-bottom: 1px solid #134cb280;
  background: #f1f1f1;
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  &__logo {
    font-size: 38px;
    line-height: normal;
    color: #0e0e0e;
    display: flex;
  }

  &__col-01 {
  }

  &__col-02 {
    @media (max-width: 992px) {
      display: none;
    }
  }

  &__col-03 {
    @media (max-width: 992px) {
      display: none;
    }
  }

  &__col-04 {
    display: none;
    @media (max-width: 992px) {
      display: flex;
      gap: 20px;
      align-items: center;
      .cart-link {
        img {
          width: 20px;
        }
      }
    }
  }

  &__nav {
  }

  &__account {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__account-item {
  }

  &__account-link {
    color: #0e0e0e;
    font-size: 16px;
    line-height: normal;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #134cb2;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  &__item {
  }

  &__item-menu {
    a {
      color: #0e0e0e;
    }
    &._submenu {
      position: relative;

      &._open {
      }
      .wrapper{
        display: flex;
        >a{
          display: flex;
          gap:rem(6);
          align-items: center;
        }
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 16px;
    left: 0;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

    &._active {
      padding: 11px 12px;
      margin-top: 16px;
    }

  }

  &__subitem {
    a {
      white-space: nowrap;
      transition: all 0.3s ease 0s;

      &:hover {
        color: #134cb2;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 29;
  background: #f1f1f1;
  width: 100vw;
  height: 100vh;
  padding: rem(89) rem(16) rem(16) rem(16);
  box-sizing: border-box;
  overflow-y: auto;
  * {
    box-sizing: border-box;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    li {
      &.with-sub-menu {
        &.active{
          a{
            svg{
              transform: rotate(-180deg);
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          svg{
            transition: all 0.5s;
            transform: rotate(0);
          }
        }
      }
      a {
        color: #0e0e0e;
        font-size: rem(28);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
      }
      .submenu {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        margin-top: rem(30);
        li {
          a {
            color: #0e0e0e;
            font-size: rem(20);
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
          }
        }
      }
    }
  }

  .mobile-account {
    display: flex;
    gap: rem(20);
    align-items: center;
    color: #0e0e0e;
    font-size: rem(22);
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    padding: rem(30) 0;
    border-top: 1px solid #0e0e0e;
    border-bottom: 1px solid #0e0e0e;
    margin-top: rem(30);
    a {
      display: flex;
    }
  }
}
